<div active-index="0"></div>
<div class="container-fluid">
    <div class="row">
        <aside active-index="-1" category="@SidebarCategory.None"></aside>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
           
        </main>
    </div>
</div>