<footer class="container-fluid pt-3 pb-3 m-0 bg-light text-dark">
    <div class="container">
        <div class="row text-center">
            &copy;@DateTime.UtcNow.Year with &hearts;
        </div>
    </div>
</footer>