extends layout.pug

block main
    h1(class='text-warning')
        | Ooooooooooops!
    div
        p message: 
            p
                #{message}
        p error:
            p
                #{error}