extends layout2.pug

block content
    h3 Edit user
    form
            div(class='form-group')
                label(for='allowed')
                    | Allowed (JSON format)
                input(type='text' placeholder='{host: admin, pathname: /}' value=user.allowed class='form-control' id='allowed')
            div(class='text-center')
                button(type='submit' class='btn btn-primary btn-block' id='save')
                    | Save
                button(type='submit' class='btn btn-danger btn-block' id='delete')
                    | Delete
                    
block scripts
    script(type='text/javascript').
        $('#save').click(function(e){
            e.preventDefault();
            $.ajax({
                url: '/user/edit',
                method: 'POST',
                dataType: 'json',
                data: {
                    id: '#{user.id}',
                    allowed: $('#allowed').val()
                },
                success: function(data){
                    if(data.error){
                        alert(data.error);
                    }else{
                        window.location.href = '/user/manage';
                    }
                }
            });
        });
        
        $('#delete').click(function(e){
            e.preventDefault();
            $.ajax({
                url: '/user',
                method: 'DELETE',
                dataType: 'json',
                data: {
                    id: '#{user.id}'
                },
                success: function(data){
                    if(data.error){
                        alert(data.error);
                    }else{
                        window.location.href = '/user/manage';
                    }
                }
            });
        });
        
        $('#menu_user').addClass('active');