<header>
  <div>
    <a href="/">
                <img src="/assets/img/cat.jpg" id="avatar" alt="" title="" />
            </a>
    <h1><a href="/">Jerry Bian's Blog</a></h1>
    <h2>Programmer, Husband, Father.</h2>
    <nav>
      <p>
        <a href="/">Home</a> &bull;
        <a href="javascript:;">Resume</a> &bull;
        <a href="/archive.html">Archive</a>
      </p>
    </nav>
    <ul class="social-networks">
      <li>
        <a href="https://github.com/JerryBian">
                        <i class="fa fa-github fa-4x" aria-hidden="true"></i>
                    </a>
      </li>
      <li>
        <a href="mailto:JerryBian@outlook.com">
                        <i class="fa fa-envelope fa-4x" aria-hidden="true"></i>
                    </a>
      </li>
      <li>
        <a href="/feed.xml">
                        <i class="fa fa-rss fa-4x" aria-hidden="true"></i>
                    </a>
      </li>
    </ul>
  </div>
</header>