<div class="panel panel-default">
    <div class="panel-heading">About</div>
    <div class="panel-body">
        <p>Jerry Bian, software engineer.</p>
        <p>C#/.NET, JavaScript, Python, Swift.</p>
        <p>@@Hangzhou, China.</p>
    </div>
</div>

<div class="list-group">
    <a href="https://github.com/JerryBian" class="list-group-item">
        <i class="fa fa-github"></i> GitHub (@@JerryBian)
    </a>
    <a href="https://twitter.com/cnBian" class="list-group-item">
        <i class="fa fa-twitter"></i> Twitter (@@cnBian)
    </a>
    <a href="mailto:JerryBian@outlook.com" class="list-group-item">
        <i class="fa fa-envelope"></i> Email (JerryBian@@outlook.com)
    </a>
</div>